
node_modules/

dialogos/Personajes y orbes/Pantallas de prueba/Pantalla de diálogo (Pikachu queda descartado como personaje).png

dialogos/Tiles escenario/Tierra montaña (cubre los huecos entre paredes).png

dialogos/Personajes y orbes/Pantallas de prueba/Pantalla de diálogo (Pikachu queda descartado como personaje).png
